Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent
Content/Characters/Mannequin_UE4
Content/Characters/Mannequins/Textures
Content/__ExternalActors__
Content/__ExternalObjects__